/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

    nav ul {
        list-style: none;
    }

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}






#header {/* initial screen when webpage loads*/
    height: 100vh;
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#header-content{/**/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

#header-content h1{
    text-align: center;
    font-family: 'Bell MT';
    font-size: 2rem;
    color: #1D1D1F;
    letter-spacing: 3px;
    font-weight: 100;
}

#header-content img{
    margin-top: 20px;
    height: 30px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#header-content img:hover{
    margin-top: 15px;
    height: 35px;
    filter: brightness(90%);
}

.pre-nav{/*phone nav bar*/
    visibility: visible;
    position: relative;
    width: 100%;
    background-color: #1D1D1F;
    height: 48px;
    background-attachment: scroll;

}
body {
    background-color: #F5F5F7;
}

.nav {/*full screen nav bar*/
    position: relative;
    display: none;
    width: 100%;
    background-color: #1D1D1F;
    color: #F5F5F7;
    font-size: 1rem;
    font-weight: 100;
    height: auto;
    line-height: 48px;
    text-align: center;
}

.nav-display {/*drop down nav for phone*/
    position: absolute;
    display: block;
    width: 100%;
    background-color: #1D1D1F;
    color: #F5F5F7;
    font-size: 1rem;
    font-weight: 100;
    height: auto;
    line-height: 48px;
    text-align: center;
    z-index: 1;
}


.menu-icon{ /* menue icon for phone nav*/
    visibility: visible;
    cursor: pointer;
    float: right;
    height: auto;
    filter: brightness(50%);
    padding: 7.5px 11.5px;
}

.menu-icon:hover{
    filter: brightness(90%);
}

.bar1, .bar2, .bar3{ /* bars used to create menue icon*/
    width: 25px;
    height: 3px;
    background-color: #F5F5F7;
    margin-top: 6px;
    margin-bottom: 6px;
    transition: 0.4s;
    border-radius: 25px;
}

.change1{ /* roatating top bar*/
    transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}
  
.change2{opacity: 0;}/* making middle bar invisible*/
  
.change3{/*roatating bottom bar*/
    transform: rotate(45deg) translate(-5px, -8px);
    transform: rotate(45deg) translate(-5px, -8px);
}


.nav ul li{
    padding: 0 3rem;
    list-style: none;
    color: #F5F5F7;
    filter: brightness(50%);
    
}

.nav-display ul li {
    padding: 0 3rem;
    list-style: none;
    color: #F5F5F7;
    filter: brightness(50%);
}

.nav ul li:hover{
    filter: brightness(90%);
   
}

.fixed{
    position: fixed;
    width: 100%;
    top:0;
    z-index: 1;
}

.section-padding{
    padding-top: 48px;
}

#home{
    background-color: #F5F5F7;
    width: 100%;
    position: relative;
    background-attachment: scroll;
    resize: both;
    display:inline-block; 
}

#profile-pic {
    width: 100%;
    border-radius: 50%;
}

.home-left {
    padding: 4% 4% 0 4%;
    width:15%;
    float:left;
}

.home-right {
    padding: 5% 0 0 0;
    width: 75%;
    font-size: 2rem;
    display: inline-block;
}

#content h1 {
    text-align: center;
    font-family: 'Bell MT';
    font-size: 1.5rem;
    color: #1D1D1F;
    letter-spacing: 3px;
    font-weight: 100;
    padding: 1% 0 1% 0;
}

#content h2 {
    font-size: 1rem;
    font-weight: normal;
}

#content p {
    font-size: 0.8rem;
    width: 100%;
}

#content ul{
    font-size: 0.8rem;
}

.end-line{
    padding-bottom: 1.5%;
}

#work-exp {
    background-color: #F5F5F7;
    width: 100%;
    position: relative;
    background-attachment: scroll;
    resize: both;
    display: inline-block;
    text-align: center;
}

#education {
    background-color: #F5F5F7;
    width: 100%;
    position: relative;
    background-attachment: scroll;
    resize: both;
    display: inline-block;
    text-align: center;
}

.edu-box{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    border: 2px solid Black;
}

.edu-box img{
    padding:1.5%;
    width:10%;
} 


#projects {
    background-color: #F5F5F7;
    width: 100%;
    position: relative;
    background-attachment: scroll;
    resize: both;
    display: inline-block;
    text-align: center;
}



.footer {
    position: relative;
    background-color: #1D1D1F;
    height: 28px;
    width: 100%;
    background-attachment: scroll;
    resize: both;
}

.footer-accredit {
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    bottom: 0;
    padding-bottom: 5px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 3px;
    font-size: 5px;
}

@media only screen and (min-width: 768px){
    #header-content h1 {
        font-size: 3rem;
    }

    #header-content img{
        margin-top: 30px;
        height: 40px;
    }

    #header-content img:hover{
        margin-top: 25px;
        height: 45px;
    }

    .pre-nav{
        display: none;
    }

    .nav {
        padding-top: 0px;
        display: block;
        font-size: 1.5rem;
        height: 58px;
        line-height: 58px;
    }

    .nav ul li{
        display: inline-block;
    }

    .section-padding{
        padding-top: 58px;
    }


    #content h1{
        font-size: 2rem;
    }

    #content h2 {
        font-size: 1.5rem;
    }

    #content p{
        font-size: 1rem;
    }

    #content ul {
        font-size: 1rem;
    }

    .edu-box {
        display: inline-block;
        margin: 1%;
        width: 30%;
        margin-bottom: 0;
    }


    .footer{
        height: 38px;
    }

    .footer-accredit{
        font-size: 10px;
        padding-bottom: 10px;
    }
}

@media only screen and (min-width: 1000px){
    #header-content h1 {
        font-size: 5rem;
    }

    #header-content img{
        margin-top: 40px;
        height: 50px;
    }

    #header-content img:hover{
        margin-top: 35px;
        height: 55px;
    }

    .nav {
        font-size: 2rem;
        height: 68px;
        line-height: 68px;
    }

    .section-padding{
        padding-top: 68px;
    }

    #content h1{
        font-size: 2.5rem;
    }

    #content h2 {
        font-size: 2rem;
    }

    #content p {
        font-size: 1.5rem;
    }

    #content ul {
        font-size: 1.5rem;
    }

    .footer{
        height: 48px;
    }

    .footer-accredit{
        font-size: 15px;
        padding-bottom: 15px;
    }

    

}

